<div class="item-box">
	<div class="box-left">
		<h2 class="left">Rightsとは</h2>
		<div id="horizon1"></div>
		<div class="container">
			<div class="row">
				<div class="box-right">
					<p>
						楽曲購入と同時に「楽曲利用申請」を行うことができます
					</p>
					<p>
						著作物は、それぞれの著作者たちが労力をかけて創作するものです
					</p>
					<p>
						著作者にとって、多くの人に自分の作品を楽しんでもらうことは喜びであり、新たな作品を創作する励みにもなります
					</p>
					<p>
						創作に携わる人たちの創作活動や暮らしを支えるため、次の世代が創作を志す道を「Rights」によって提供するできます
					</p>
				</div>
			</div>
		</div>
	</div>
</div>