<div class="item-box">
	<div class="text-box">
		<div class="text">
			<h2 class="title1">Rights</h2>
			<div class="line1"></div>
			<div class="line2"></div>
			<div class="inner">
				<p>
					「Rights」では楽曲購入と同時に「楽曲利用申請」を行うことができます
				</p>
				<p>
					著作物は、それぞれの著作者たちが労力をかけて創作するものです
				</p>
				<p>
					多くの人に自分の作品を楽しんでもらうことが、著作者の喜びであり、新たな作品を創作する励みにもなります
				</p>
				<p>
					創作に携わる人たちの創作活動や暮らしを支えるため、次の世代が創作を志す道を「Rights」によって提供することができます
				</p>
				<button class="link">
					<%= link_to "Rights ONLINE SHOP", items_path, :style => 'text-decoration: none; color: #d93600' %>
				</button>
			</div>
		</div>
	</div>
</div>