<div class="item-box">
	<div class="box-left">
		<h2 class="left">Rightsとは</h2>
		<div id="horizon1"></div>
		<div class="container">
			<div class="row">
				<div class="box-right">
					<p>
						著作物を利用するときには、事前に著作権者から利用許諾を得る（利用手続き）必要があります。<br>
						ここでは、利用手続きなく利用できる場合を含め、手続きの面から著作権について説明します。
					</p>
				</div>
			</div>
		</div>
	</div>
</div>