<%= stylesheet_link_tag 'front/members' %>
<div class="container">
	<div class="row">
		<div class="col-xs-12">
				<div class="title", style="text-align: center;">
				<h2>本気で退会する？</h2>
				<%= link_to "退会する",  data: {confirm: "本当に退会しますか？"} %>
				</div>
		</div>
	</div>
</div>