<div class= "container">
	<div class= "row">
		<div class="col-xs-12">
<div class="plus-btn-pos">
  <div class="plus-btn">
    <div class="r1"></div>
    <div class="r2"></div>
  </div>
</div>
<div class="content">
  <div>
    <h1>
      My Page Menu
    </h1>
    <h2>
      Flexbox Style
    </h2>
  </div>
</div>
<div class="menu-container">
  <div class="menu-sliders"></div>
  <div class="menu-sliders"></div>
  <div class="menu-sliders"></div>
  <div class="menu">
    <ul>
      <li>
        <a>購入履歴</a>
      </li>
      <li>
        <a>会員情報編集</a>
      </li>
      <li>
        <a>利用申請履歴</a>
      </li>
      <li>
        <a>申請者登録一覧</a>
      </li>
      <li>
        <a>退会</a>
      </li>
      <li>
        <a>配送先一覧</a>
      </li>
      <li>
        <a>クレジットカード情報</a>
      </li>
      <li>
        <a>請求書送付先</a>
      </li>
    </ul>
  </div>
</div>
</div>
</div>
</div>