<div class= "container">
	<div class= "row">
		<div class="col-xs-12">
<div class="plus-btn-pos">
  <div class="plus-btn">
    <div class="r1"></div>
    <div class="r2"></div>
  </div>
</div>
<div class="content">
  <div>
    <h1>
      Fullscreen Menu
    </h1>
    <h2>
      Flexbox Style
    </h2>
  </div>
</div>
<div class="menu-container">
  <div class="menu-sliders"></div>
  <div class="menu-sliders"></div>
  <div class="menu-sliders"></div>
  <div class="menu">
    <ul>
      <li>
        <a>Home</a>
      </li>
      <li>
        <a>About</a>
      </li>
      <li>
        <a>Work</a>
      </li>
      <li>
        <a>Contact</a>
      </li>
    </ul>
  </div>
</div>
</div>
</div>
</div>