<div class="container">
	<div class="row">
		<div class="col-md-12 text-center"">
			<div class="progress">
			  <div class="progress-bar" role="progressbar" style="width: 45%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
			</div>
			<h2>催事情報入力フォーム</h2><br>
			<form>
			  <div class="form-group row text-center">
			    <label for="" class="col-sm-2 col-form-label">利用場面</label>
			    <div class="col-sm-8">
			    <select class="form-control" id="exampleFormControlSelect1">
			      <option selected>利用場面を選択してください</option>
			      <option>1</option>
			      <option>2</option>
			      <option>3</option>
			      <option>4</option>
			      <option>5</option>
			    </select>
			    </div>
			  </div>
			  <div class="form-group row text-center">
			    <label for="" class="col-sm-2 col-form-label">イベント名</label>
			    <div class="col-sm-8">
			      <input type="" class="form-control" id="" placeholder="">
			    </div>
			  </div>
			  <div class="form-group row">
			    <label for="" class="col-sm-2 col-form-label">開催日</label>
			    <div class="col-sm-3">
			      <input type="" class="form-control" id="" placeholder="yyyy/mm/dd">
			    </div>
			    <label for="" class="col-sm-1 col-form-label">から</label>
			    <div class="col-sm-3">
			      <input type="" class="form-control" id="" placeholder="yyyy/mm/dd">
			    </div>
			    <label for="" class="col-sm-1 col-form-label">まで</label>
			  </div>
			  <div class="form-group row">
			    <label for="" class="col-sm-2 col-form-label">公演回数</label>
			    <div class="col-sm-3">
			      <input type="" class="form-control" id="" placeholder="全〇回">
			    </div>
			    <label for="" class="col-sm-2 col-form-label">公演1回の所要時間</label>
			    <div class="col-sm-3">
			      <input type="" class="form-control" id="" placeholder=" 時間　　分">
			    </div>
			  </div>
			  <div class="form-group row">
			    <label for="" class="col-sm-2 col-form-label">会場名</label>
			    <div class="col-sm-8">
			      <input type="" class="form-control" id="" placeholder="">
			    </div>
			  </div>
			  <div class="form-group row text-center">
			    <label for="" class="col-sm-2 col-form-label">入場料</label>
			    <div class="col-sm-4">
			    <select class="form-control" id="exampleFormControlSelect1">
			      <option selected>入場料の有無を選択してください</option>
			      <option>有</option>
			      <option>無</option>
			    </select>
			    </div>
			  </div>
			  <div class="form-group row">
			    <label for="" class="col-sm-2 col-form-label">入場料</label>
			    <div class="col-sm-2">
			      <input type="" class="form-control" id="" placeholder="①">
			    </div>
			    <div class="col-sm-2">
			      <input type="" class="form-control" id="" placeholder="②">
			    </div>
			    <div class="col-sm-2">
			      <input type="" class="form-control" id="" placeholder="③">
			    </div>
			  </div>
			  <div class="form-group row">
			    <label for="" class="col-sm-2 col-form-label"></label>
			    <div class="col-sm-2">
			      <input type="" class="form-control" id="" placeholder="④">
			    </div>
			    <div class="col-sm-2">
			      <input type="" class="form-control" id="" placeholder="⑤">
			    </div>
			    <div class="col-sm-2">
			      <input type="" class="form-control" id="" placeholder="⑥">
			    </div>
			  </div>
			  <div class="form-group row text-center">
			    <label for="" class="col-sm-2 col-form-label">出演者への報酬</label>
			    <div class="col-sm-4">
			    <select class="form-control" id="exampleFormControlSelect1">
			      <option selected>入出演者への報酬の有無を選択してください</option>
			      <option>有</option>
			      <option>無</option>
			    </select>
			    </div>
			  </div>
			  <div class="form-group row">
			    <label for="" class="col-sm-2 col-form-label">出演者名</label>
			    <div class="col-sm-8">
			      <input type="" class="form-control" id="" placeholder="">
			    </div>
			  </div>
			  <div class="form-group row">
			    <label for="" class="col-sm-2 col-form-label">備考</label>
			    <div class="col-sm-8">
			      <input type="" class="form-control" id="" placeholder="">
			    </div>
			  </div><br>
			  <button type="submit" class="btn btn-primary btn-lg">申請楽曲選択へ進む</button>
			</form>
		</div>
	</div>
</div>