<div class="container">
	<div class="row">
		<div class="col-md-12 text-center"">
			<div class="progress">
			  <div class="progress-bar" role="progressbar" style="width: 60%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
			</div>
			<h2>申請楽曲選択</h2><br>
			<table class="table table-sm">
			  <thead>
			    <tr>
			      <th scope="col">@sale_items.items.cd_title</th>
			    </tr>
			  </thead>
			  <tbody>
			    <tr>
			      <td>
			      <div class="form-check">
				    <input class="form-check-input" type="checkbox" value="" id="">
				    <label class="form-check-label" for="defaultCheck1">
				      @sale_items.items.cd_title.music_title
				    </label>
				  </div>
			      </td>
			    </tr>
			    <tr>
			      <td>
			      <div class="form-check">
				    <input class="form-check-input" type="checkbox" value="" id="">
				    <label class="form-check-label" for="defaultCheck1">
				      @sale_items.items.cd_title.music_title
				    </label>
				  </div>
			      </td>
			    </tr>
			    <tr>
			      <td>
			      <div class="form-check">
				    <input class="form-check-input" type="checkbox" value="" id="">
				    <label class="form-check-label" for="defaultCheck1">
				      @sale_items.items.cd_title.music_title
				    </label>
				  </div>
			      </td>
			    </tr>
			    <tr>
			      <td>
			      <div class="form-check">
				    <input class="form-check-input" type="checkbox" value="" id="">
				    <label class="form-check-label" for="defaultCheck1">
				      @sale_items.items.cd_title.music_title
				    </label>
				  </div>
			      </td>
			    </tr>
			    <tr>
			      <td>
			      <div class="form-check">
				    <input class="form-check-input" type="checkbox" value="" id="">
				    <label class="form-check-label" for="defaultCheck1">
				      @sale_items.items.cd_title.music_title
				    </label>
				  </div>
			      </td>
			    </tr>
			    <tr>
			      <td>
			      <div class="form-check">
				    <input class="form-check-input" type="checkbox" value="" id="">
				    <label class="form-check-label" for="defaultCheck1">
				      @sale_items.items.cd_title.music_title
				    </label>
				  </div>
			      </td>
			    </tr>
			  </tbody>
			</table>
			<table class="table table-sm">
			  <thead>
			    <tr>
			      <th scope="col">@sale_items.items.cd_title</th>
			    </tr>
			  </thead>
			  <tbody>
			    <tr>
			      <td>
			      <div class="form-check">
				    <input class="form-check-input" type="checkbox" value="" id="">
				    <label class="form-check-label" for="defaultCheck1">
				      @sale_items.items.cd_title.music_title
				    </label>
				  </div>
			      </td>
			    </tr>
			    <tr>
			      <td>
			      <div class="form-check">
				    <input class="form-check-input" type="checkbox" value="" id="">
				    <label class="form-check-label" for="defaultCheck1">
				      @sale_items.items.cd_title.music_title
				    </label>
				  </div>
			      </td>
			    </tr>
			    <tr>
			      <td>
			      <div class="form-check">
				    <input class="form-check-input" type="checkbox" value="" id="">
				    <label class="form-check-label" for="defaultCheck1">
				      @sale_items.items.cd_title.music_title
				    </label>
				  </div>
			      </td>
			    </tr>
			    <tr>
			      <td>
			      <div class="form-check">
				    <input class="form-check-input" type="checkbox" value="" id="">
				    <label class="form-check-label" for="defaultCheck1">
				      @sale_items.items.cd_title.music_title
				    </label>
				  </div>
			      </td>
			    </tr>
			    <tr>
			      <td>
			      <div class="form-check">
				    <input class="form-check-input" type="checkbox" value="" id="">
				    <label class="form-check-label" for="defaultCheck1">
				      @sale_items.items.cd_title.music_title
				    </label>
				  </div>
			      </td>
			    </tr>
			    <tr>
			      <td>
			      <div class="form-check">
				    <input class="form-check-input" type="checkbox" value="" id="">
				    <label class="form-check-label" for="defaultCheck1">
				      @sale_items.items.cd_title.music_title
				    </label>
				  </div>
			      </td>
			    </tr>
			  </tbody>
			</table><br>
			  <button type="submit" class="btn btn-primary btn-lg">演奏利用明細入力へ進む</button>
		</div>
	</div>
</div>