<div class="container">
	<div class="row">
		<div class="progress">
		  <div class="progress-bar" role="progressbar" style="width: 90%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
		</div>
	  <div class="col-md-2 mx-auto text-center"></div>
	  <div class="col-md-7 mx-auto text-center">
		<h2>申請者 登録情報</h2><br>
			<table class="table table-bordered">
			  <tbody>
			    <tr>
			      <th scope="row" class="active col-md-2">法人名 団体名</th>
			      <td class="col-md-5"></td>
			    </tr>
			    <tr>
			      <th scope="row" class="active">法人名 団体名（ふりがな）</th>
			      <td></td>
			    </tr>
			    <tr>
			      <th scope="row" class="active">代表者名</th>
			      <td></td>
			    </tr>
			    <tr>
			      <th scope="row" class="active col-md-2">代表者名（ふりがな）</th>
			      <td class="col-md-5"></td>
			    </tr>
			    <tr>
			      <th scope="row" class="active">郵便番号</th>
			      <td></td>
			    </tr>
			    <tr>
			      <th scope="row" class="active">所在地　住所</th>
			      <td></td>
			    </tr>
			    <tr>
			      <th scope="row" class="active col-md-2">電話番号</th>
			      <td class="col-md-5"></td>
			    </tr>
			    <tr>
			      <th scope="row" class="active">FAX</th>
			      <td></td>
			    </tr>
			    <tr>
			      <th scope="row" class="active">担当者名</th>
			      <td></td>
			    </tr>
			    <tr>
			      <th scope="row" class="active col-md-2">担当者名（ふりがな）</th>
			      <td class="col-md-5"></td>
			    </tr>
			    <tr>
			      <th scope="row" class="active">ご担当部署</th>
			      <td></td>
			    </tr>
			    <tr>
			      <th scope="row" class="active">日中のご連絡先</th>
			      <td></td>
			    </tr>
			  </tbody>
			</table>
	  </div>
	</div>
</div>