// Place all the styles related to the admin::members controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.title h2 {
	padding-top: 80px;
	text-align: center;
}
.title h3 {
	padding-top: 100px;
	text-align: center;
}
.search_box p {
	width: 200px;
	display: -webkit-box;
	padding-top: 100px;
}
.search-btn {
	margin-left: 5px;
}
.edit-back {
	margin: -4px 0 40px 10px;
}
.edit-submit {
	float: left;
	margin-top: 10px;
}
.admin-logout {
	float: left;
	position: absolute;
	top: 15px;
	right: 100px;
}
.admin-back {
	margin-bottom: 20px;
}
.admin-edit {
	margin-bottom: 20px;
}
.admin-delete {
	margin-bottom: 20px;
}
.postal {
	width: 100px;
	float: left;
	margin-right: 10px;
}
.prefecture {
	width: 100px;
	float: left;
}
.address1 {
	display: block;
	clear:both;
}
.phone {
	width: 150px;
}
.contact-person-name {
	width: 180px;
	float: left;
	margin-right: 10px;
}
.contact-person-phonetic {
	width: 170px;
	float: left;
}