 @import "bootstrap-sprockets";
 @import "bootstrap";
 @import url('//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css');


/*フロントナビバー*/
.nav{
	box-shadow: 0px 2px 2px rgba(0,0,0,0.8);
	transform: translateY(2px);
}
.navbar-default
.navbar-nav li a{
	color: black;
	font-weight: bold;
}
.navbar-default{
	background-color: #d93600;
}

.my-black{
	color: black;
}

/*Rights*/

h3{
  	color: black;
}


/*TOP画面テキスト*/

h2{
    color: black;
}

p{
    color: black;
}
.error_message {
	text-align: center;
	list-style: none;
}
.error_message li{
	list-style: none;
	color: red;
}
.error_message h2{
	background-color: #f2dede;
    color: #a94442;
	font-size: 20px;
}
.alert-notice {
	width: 100%;
	position: absolute;
	top: 66px;
	float: left;
  	color: #3c763d;
    background-color: #dff0d8;
}
.alert-alert {
	width: 100%;
	position: absolute;
	top: 66px;
	float: left;
    background-color: #f2dede;
    color: #a94442;
}
.privacy h1 {
	padding-top: 100px;
}
.privacy-btn {
	margin-bottom: 30px;
}