
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.menu-list1 {
  width: 100%;
  display: table;
  table-layout: fixed;
  padding-top: 70px;
}


.menu-box {
  text-align: center;
  padding: 10px 10px;
}

.menu-box a {
  color: #2cb4ad;
}
.menu1{
  border-radius: 50%;
  padding: 20px 10px;
  color: #fff;
  display: inline-block;
  width: 170px;
  height: 170px;
  text-decoration: none;
  border:double 4px #2cb4ad;
  vertical-align: middle;
  overflow: hidden;
  transition: .6s;
  line-height: 120px;

}
.menu1:hover {
  transform: rotateY(360deg);
}


// Place all the styles related to the front::members controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

