#page_arrow {
  position: fixed;
  bottom: 50px;
  right: 50px;
  font-size: 48px;
  cursor: pointer;
  display: none;
}

.main-visual{
	height: 100vh;
	text-align: center;
  position: relative;
  margin-bottom: 150px;
}


#scroll{
  text-align: center;
  padding-bottom: 100px;
  position: absolute;
  bottom: 0;
}

.line{
  width: 1px;
  height: 30px;
  margin: 0 auto;
  background-color: #d93600;
}

/*main-visual以下*/
.item-box{
  height: 100vh
}
.main-title{
  margin: 0 auto;
	font-size: 70px;
}

.box-center{
  text-align: left;
}
.box-right{
	height: 100vh;
	text-align: right;
  padding-top: 100px;
}
.box-left{
	height: 100vh;
	text-align: left;
}

.left{
  font-size: 30px;
}

.right{
	font-size: 40px;
  padding-bottom: 20px;
}

p{
  font-size: 20px;
  font-style: inherit;
  padding-top: 50px;
}

/*ハンバーガーメニュー*/
.absolute-center, .menu, .menu .btn .fa, .menu .btn.trigger .line {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
}

.logo{
  width: 10em;
  height: 10em;
}

.my-black{
  color: black;
}
.menu {
  width: 12em;
  height: 12em;
}
.menu .btn {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 40%;
  opacity: 0;
  z-index: -10;
  cursor: pointer;
  transition: opacity 1s, z-index 0.3s, -webkit-transform 1s;
  transition: opacity 1s, z-index 0.3s, transform 1s;
  transition: opacity 1s, z-index 0.3s, transform 1s, -webkit-transform 1s;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.menu .btn .fa {
  font-size: 3em;
  transition: color 0.3s;
}
.menu .btn:hover .fa {
  color: rgba(255, 255, 255, 0.7);
}
.menu .btn.trigger {
  opacity: 1;
  z-index: 100;
  cursor: pointer;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}
.menu .btn.trigger:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.menu .rotater {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transform-origin: 48% 70%;
          transform-origin: 48% 70%;
          /*メニューアクションの距離指定(黒木オリジナル)*/
}
.menu.active .btn-icon {
  opacity: 1;
  z-index: 50;
}

.rotater:nth-child(1) {
  -webkit-transform: rotate(-22.5deg);
          transform: rotate(-22.5deg);
}

.menu.active .rotater:nth-child(1) .btn-icon {
  -webkit-transform: translateY(-10em) rotate(22.5deg);
          transform: translateY(-10em) rotate(22.5deg);
}

.rotater:nth-child(2) {
  -webkit-transform: rotate(22.5deg);
          transform: rotate(22.5deg);
}

.menu.active .rotater:nth-child(2) .btn-icon {
  -webkit-transform: translateY(-10em) rotate(-22.5deg);
          transform: translateY(-10em) rotate(-22.5deg);
}

.rotater:nth-child(3) {
  -webkit-transform: rotate(67.5deg);
          transform: rotate(67.5deg);
}

.menu.active .rotater:nth-child(3) .btn-icon {
  -webkit-transform: translateY(-10em) rotate(-67.5deg);
          transform: translateY(-10em) rotate(-67.5deg);
}

.rotater:nth-child(4) {
  -webkit-transform: rotate(112.5deg);
          transform: rotate(112.5deg);
}

.menu.active .rotater:nth-child(4) .btn-icon {
  -webkit-transform: translateY(-10em) rotate(-112.5deg);
          transform: translateY(-10em) rotate(-112.5deg);
}

.rotater:nth-child(5) {
  -webkit-transform: rotate(157.5deg);
          transform: rotate(157.5deg);
}

.menu.active .rotater:nth-child(5) .btn-icon {
  -webkit-transform: translateY(-10em) rotate(-157.5deg);
          transform: translateY(-10em) rotate(-157.5deg);
}

.rotater:nth-child(6) {
  -webkit-transform: rotate(202.5deg);
          transform: rotate(202.5deg);
}

.menu.active .rotater:nth-child(6) .btn-icon {
  -webkit-transform: translateY(-10em) rotate(-202.5deg);
          transform: translateY(-10em) rotate(-202.5deg);
}

.rotater:nth-child(7) {
  -webkit-transform: rotate(247.5deg);
          transform: rotate(247.5deg);
}

.menu.active .rotater:nth-child(7) .btn-icon {
  -webkit-transform: translateY(-10em) rotate(-247.5deg);
          transform: translateY(-10em) rotate(-247.5deg);
}

.rotater:nth-child(8) {
  -webkit-transform: rotate(292.5deg);
          transform: rotate(292.5deg);
}

.menu.active .rotater:nth-child(8) .btn-icon {
  -webkit-transform: translateY(-10em) rotate(-292.5deg);
          transform: translateY(-10em) rotate(-292.5deg);
}

/*水平ライン*/
#horizon1 {
    position: absolute;
    left: 0px;
    width: 0;
    height: 1px;
    background: #d93600;
}
#horizon2 {
    position: absolute;
    left: 0px;
    width: 0;
    height: 1px;
    background: #d93600;
}

/*スライドショー*/
.skippr{
  width:100%;
  height:100%;
  position:relative;
  overflow:hidden
}

.skippr>div{
  position:absolute;
  width:100%;
  height:100%;
  background-size:cover;
  background-position:50% 62.5%
}

.skippr>img{
  position:absolute;
  top:50%;
  left:50%;
  -webkit-transform:translate(-50%, -50%);
  -moz-transform:translate(-50%, -50%);
  -ms-transform:translate(-50%, -50%);
  transform:translate(-50%, -50%);
  width:100%;
  min-height:100%
}

.skippr-nav-container{
  position:absolute;
  left:50%;
  -webkit-transform:translate(-50%, 0);
  transform:translate(-50%, 0);
  -moz-transform:translate(-50%, 0);
  -ms-transform:translate(-50%, 0);
  bottom:25px;
  overflow:auto;
  z-index:999
}

.skippr-nav-element{
  cursor:pointer;
  float:left;
  background-color:rgba(255,255,255,0.5);
  -webkit-transition:all .25s linear;
  transition:all .25s linear
}
.skippr-nav-element-bubble{
  width:12px;
  height:12px;
  border-radius:50%;
  margin:0 4px
}
.skippr-nav-element-block{
  width:60px;
  height:10px
}
.skippr-nav-element:hover,
.skippr-nav-element-active{
  background-color:#fff
}
.skippr-arrow{
  position:absolute;
  z-index:999;
  top:50%;
  -webkit-transform:translate(0%, -50%);
  -moz-transform:translate(0%, -50%);
  -ms-transform:translate(0%, -50%);
  transform:translate(0%, -50%);
  width:30px;
  height:30px;
  transform-origin:center center;
  -webkit-transform-origin:top left;
  cursor:pointer
}
.skippr-previous{
  left:2.5%;
  -webkit-transform:rotate(-45deg);
  transform:rotate(-45deg);
  border-top:2px solid white;
  border-left:2px solid white
}
.skippr-next{
  right:3.5%;
  -webkit-transform:rotate(-45deg);
  transform:rotate(-45deg);
  border-bottom:2px solid white;
  border-right:2px solid white
}