<div class="music" style="padding-top: 100px">
	<div class="container">
		<div class="row">
			<div class="col-md-3">
			</div>
			<div class="col-md-9">
				<table>
					<thead>
						<th>曲名</th>
						<th>作曲者</th>
						<th>作詞者</th>
					</thead>
					<tbody>
						<% @musics.each do |m| %>
						<tr>
							<td><%= music.music_title %></td>
							<td><%= music.composer %></td>
							<td><%= music.songwriter %></td>
						</tr>
						<% end %>
					</tbody>
				</table>
				<%= link_to '新規投稿', new_admin_music_path %>
			</div>
		</div>
	</div>
</div>
