// Place all the styles related to the items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.pick-up p{
	font-style: italic;
	color: #d93600;
	font-weight: bold;
	text-align: center;
	border-bottom: 1px solid #e6e6e6;
	font-size: 30px
}
