<div class="show-content" style="padding-top: 100px;">
  <div class="container">
    <div class="row" style="border-bottom: 1px solid #e6e6e6; padding-bottom: 80px;">
      <div class="col-md-12">
        <h2>登録住所</h2><br>
          <table class="table">
            <tbody>
              <tr>
                <th scope="row">法人名 団体名</th>
                <td><% @shipping.organisation_name %></td>
              </tr>
              <tr>
                <th scope="row">郵便番号</th>
                <td><% @shipping.shipping_postal_code %></td>
              </tr>
              <tr>
                <th scope="row">住所1</th>
                <td><% @shipping.shipping_address1 %></td>
              </tr>
              <tr>
                <th scope="row">ビル・マンション名</th>
                <td><% @shipping.shipping_address2 %></td>
              </tr>
              <tr>
                <th scope="row">ご担当部署</th>
                <td><% @shipping.department %></td>
              </tr>
              <tr>
                <th scope="row">ご担当者名</th>
                <td><% @shipping.contact_person %></td>
              </tr>
              <tr>
                <th scope="row">電話番号</th>
                <td><% @shipping.user_phone %></td>
              </tr>
            </tbody>
          </table>
      </div>
    </div>
  </div>
</div>