<div class="show-content" style="padding-top: 100px;">
	<div class="container">
		<div class="row" style="border-bottom: 1px solid #e6e6e6; padding-bottom: 80px;">
			<div class="col-md-12  text-center">
				<div class="progress">
				  <div class="progress-bar progress-bar-info" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
				  </div>
				</div>
				  	<br>
				  	<h3>ご注文が確定しました。ご注文の詳細は、マイページの購入履歴からご確認いただけます。</h3>
						<h2>ご利用ありがとうございました。</h2><br>
						<%= link_to  "マイページへ", front_members_path, class: "btn btn-info btn-lg" %>
			</div>
		</div>
	</div>
</div>