<div class="container">
	<div class="row">
	<%#= render 'users/frame1', user: @user, book: @book %>
		<div class="col-md-9">
			<div class="progress">
			  <div class="progress-bar" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
			</div>
			  <fieldset class="form-group">
			    <div class="row">
			      <legend class="col-form-label"><h2>お支払方法を選択</h2></legend>
			      <div class="col-sm-10">
			        <div class="form-check">
			          <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="option1" checked>
			          <label class="form-check-label" for="gridRadios1">
			            <h3>クレジットカード</h3>
			          </label>
			        </div>
					<div class="card">
					  <h4 class="card-header">ご登録のクレジットカード</h4>
					    <div class="card-body">
					      <h4 class="card-title">クレジットカード名義人：@sale.item.member.name 様</h4>
					      <p class="card-text">下4桁：**** **** **** 0000<br>有効期限：05/19</p>
					    </div>
					</div>
			        <div class="form-check">
			          <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2" value="option2">
			          <label class="form-check-label" for="gridRadios2">
			            <h3>請求書</h3>
			          </label>
						<div class="card">
						  <h4 class="card-header">請求書の送付先の入力</h4>
						    <div class="card-body">
						      <p>入力フォーム</p>
						    </div>
						</div>
			        </div>
			      </div>
			    </div>
			　 </fieldset>
		</div>
		<div class="col-md-3">
			<div class="card" style="width: 30rem;">
			  <div class="card-body">
			    <a href="#" class="btn btn-primary btn-block">ご注文の最終確認へ進む</a>
			  </div>
			</div>
		</div>
	</div>
</div>